%ul.offcanvas-nav
  %li
    %a.offcanvas-nav__link{ href: '#'} Base Styles
    %ul.offcanvas-nav__sub
      %li
        = link_to 'Typography', '/styleguide/typo.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Tables', '/styleguide/table.html', class: 'offcanvas-nav__link'

  %li
    %a.offcanvas-nav__link{ href: '#'} Icons
    %ul.offcanvas-nav__sub
      %li
        = link_to 'Icons', '/styleguide/icons.html', class: 'offcanvas-nav__link'

  %li
    %a.offcanvas-nav__link{ href: '#'} Form
    %ul.offcanvas-nav__sub
      %li
        = link_to 'Base form styles', '/styleguide/form.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Switches', '/styleguide/switches.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Options (radio/checkbox)', '/styleguide/options.html', class: 'offcanvas-nav__link'

  %li
    %a.offcanvas-nav__link{ href: '#'} Buttons
    %ul.offcanvas-nav__sub
      %li
        = link_to 'Buttons', '/styleguide/buttons.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Dropdowns', '/styleguide/dropdowns.html', class: 'offcanvas-nav__link'

  %li
    %a.offcanvas-nav__link{ href: '#'} Navigation
    %ul.offcanvas-nav__sub
      %li
        = link_to 'TopBar', '/styleguide/topbar.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'IconBar', '/styleguide/iconbar.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Breadcrumb', '/styleguide/breadcrumb.html', class: 'offcanvas-nav__link'

  %li
    %a.offcanvas-nav__link{ href: '#'} Content
    %ul.offcanvas-nav__sub
      %li
        = link_to 'Base content', '/styleguide/content.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Read More', '/styleguide/readmore.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Accordion', '/styleguide/accordion.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Tab', '/styleguide/tab.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Two Column', '/styleguide/two_column.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Image', '/styleguide/image.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Linklist', '/styleguide/linklist.html', class: 'offcanvas-nav__link'

  %li
    %a.offcanvas-nav__link{ href: '#'} Teaser
    %ul.offcanvas-nav__sub
      %li
        = link_to 'Teaser', '/styleguide/teaser.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Teaser Card', '/styleguide/teaser_card.html', class: 'offcanvas-nav__link'
      %li
        = link_to 'Teaser List', '/styleguide/teaser_list.html', class: 'offcanvas-nav__link'

  %li
    %a.offcanvas-nav__link{ href: '#'} Media
    %ul.offcanvas-nav__sub
      %li
        = link_to 'Slider', '/styleguide/slider.html', class: 'offcanvas-nav__link'
