%article
  %header
    %h1 STYLEGUIDE PAGES
  %hr
  %section
    %h2 Base
    %ul
      %li
        = link_to 'Typography', '/styleguide/typo.html'
      %li
        = link_to 'Buttons', '/styleguide/buttons.html'
      %li
        = link_to 'Tables', '/styleguide/table.html'

  %hr.sc-hr-alternate
  %section
    %h2 Icons
    %ul
      %li
        = link_to 'Icons', '/styleguide/icons.html'

  %hr.sc-hr-alternate
  %section
    %h2 Form
    %ul
      %li
        = link_to 'Base form styles', '/styleguide/form.html'
      %li
        = link_to 'Switches', '/styleguide/switches.html'
      %li
        = link_to 'Options (radio/checkbox)', '/styleguide/options.html'

  %hr.sc-hr-alternate
  %section
    %h2 Navigation
    %ul
      %li
        = link_to 'TopBar', '/styleguide/topbar.html'
      %li
        = link_to 'IconBar', '/styleguide/iconbar.html'
      %li
        = link_to 'Breadcrumb', '/styleguide/breadcrumb.html'

  %hr.sc-hr-alternate
  %section
    %h2 Content
    %ul
      %li
        = link_to 'Base content', '/styleguide/content.html'
      %li
        = link_to 'Read More', '/styleguide/readmore.html'
      %li
        = link_to 'Accordion', '/styleguide/accordion.html'
      %li
        = link_to 'Tab', '/styleguide/tab.html'
      %li
        = link_to 'Two Column', '/styleguide/two_column.html'
      %li
        = link_to 'Image', '/styleguide/image.html'
      %li
        = link_to 'Linklist', '/styleguide/linklist.html'

  %hr.sc-hr-alternate
  %section
    %h2 Media
    %ul
      %li
        = link_to 'Slider', '/styleguide/slider.html'
